body {
  background-color: lightgray;
}

books {
  display: table;
  font-size: 18px;
  margin: 8px;
  font-family: Georgia, serif;
  width: 100%;
}

/* List of Books */
intro {
  display: table-row;
  text-align: center;
  font-family: "Gill Sans", sans-serif;
  font-size: 22px;
}

blank,
intro-line {
  display: table-cell;
}
/* List of Books end */

book {
  display: table-row;
  border: 1px solid silver;
  padding: 10px;
  background-color: lightgray;
}

/* 3 Columns' name*/
#first {
  display: table-row;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  background-color: lightyellow;
  font-size: 18px;
  margin: 8px;
  font-family: Georgia, serif;
  width: 100%;
}

/*
book:nth-child(1) { Why does this doesn't work?
    display:table-cell; 
    text-align:center; 
    border: 2px solid silver;
    padding:10px; 
    font-weight: bold;
}
*/

/* Odd book entries have lightblue bgr */
book:nth-child(2n + 1) {
  background-color: lightskyblue;
}

name,
author,
publisher {
  display: table-cell;
  border: solid 1px;
  width: 25%;
}

name {
  /*font-weight: bold; */
  color: red;
  border: 1px solid black;
}
