/* Lan Che; HW7: Namespace (CSS file); 10/31/2023 */
@namespace url(http://www.gov.org/west);
@namespace east url(http://www.gov.org/east);

state {
  background-color: #6699ff; /* blue */
  display: block;
}

east|state {
  background-color: #ff6600; /* orange */
  display: block;
}
