body {
  background-color: #6699FF; /* light blue */
}

h2 {
  color: ##660000; /* dark red */
}

h3 {
  font-weight: normal;
}

/* h3, but bold and different color*/
h3.thick {
  font-weight: bold;
  color: ##660000; /* dark red */
}